body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.flex-container {
  display: flex;
}
.image-container {
  background-image: url(/image/halie-west-25xggax4bSA-unsplash.jpg);
  height: 100vh;
  width: 30%;
  align-items: flex-end;
  display: flex;
}
.blank {
  background-color: black;
  width: 20%;
  height: 100vh;
}

.linkUnsplash,
a {
  color: white;
  width: 100%;
  text-align: center;
}

a:hover {
  color: blue;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-form {
  flex: 1;
  margin: 30% 10% 0 10%;

  display: block;
}

.form {
  flex: 1;
  margin: 0 10% 0 10%;
  display: flex;
}

.form-flex {
  display: flex;
}

.inputs-flex {
  flex: 1;
  margin: 0 20% 0 0;
}

.form label {
  display: block;
  margin-top: 10px;
}
.bottom {
  flex: 1;
  background-color: #aedbce;
}
